/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* main body header and footer are the same as main page */


body {
    background-color: #fae0dc;
    opacity: 1;
    background-image:  linear-gradient(135deg, #F06542 25%, transparent 25%), linear-gradient(225deg, #F06542 25%, transparent 25%), linear-gradient(45deg, #F06542 25%, transparent 25%), linear-gradient(315deg, #F06542 25%, #fae0dc 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 6px 6px;
    background-repeat: repeat;;

}

/* container styling */
.main{
    /* styling */
    background-color: #FAE0DC;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #5d7cf0;
    border-radius: 100px;

    color: #F06542;
    
/* flex info */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    /* font styling */
    font-family: 'Poppins', sans-serif;
    

}
        @media(min-width:800px){
            .main{
                margin-left: 100px;
                margin-right: 100px;
               
            }
        }
/* header info and styling */
header {
    /* colours*/
    background-color: #FAE0DC;
    font-family: 'Poppins', sans-serif;
    

    /* position and shaping */
    position: relative;
    border:10px solid #FAE0DC;
    border-radius: 40px;
}

.logo{
    width: 100%;

}
        @media (min-width:800px){
            /* header info and styling */
        header {
            /* colours*/
            background-color: #FAE0DC;
            font-family: 'Poppins', sans-serif;
            

            /* position and shaping */
            position: relative;
            border:10px solid #FAE0DC;
            border-radius: 40px;
            align-items: center;
        }

        .logo{
            width: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }}
    /* navigation links styling and positioning */

 .navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }
        .navbutton{
        background-color: #FAE0DC;
        padding: 10px;
        border:1px solid #5d7cf0;
        border-radius: 5px 20px 10px;
        flex-basis: auto;
        margin-left: 2%;
        margin-right: 2%;

        text-decoration: none;
        font-size: smaller;

        color: #5d7cf0;
        }
        .navbutton:hover{
        color: #FAE0DC;
        background-color: #5d7cf0;
        border: 5px solid #F06542;
        }
                @media(min-width:800px){
                    .navigation{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                    .navbutton{
                        background-color: #FAE0DC;
                        padding: 10px;
                        border:3px solid #5d7cf0;
                        border-radius: 5px 20px 10px;
                        flex-basis: auto;
                        margin-left: 2%;
                        margin-right: 2%;
                
                        text-decoration: none;
                        font-size: small;
                
                        color: #5d7cf0;
                        }

                    }
.profilepic{
    /* responsive image stuff */
    border-radius: 50%;
   

    /* picture styling */
    border: 5px outset #5d7cf0;

    /* positioning */
    width: 80%;


}
                @media (min-width:800px){
                    .profilepic{
                        max-width: 300px;
                    }
                }

.entry{
    font-size:small;

    width: 100%;
    height: 100%;
    text-align: center;

}
        @media(min-width:800px){
            .entry{
                font-size: small;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .content{
                padding-left: 20%;
                padding-right: 20%;
            }
        }
/* Style buttons */
.Resume {
    background-color: #5d7cf0;
    border: 3px solid #F06542;
    border-radius: 15px 50px;
    color: #FAE0DC;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    
  }
  
  /* change of background on hover */
  .Resume:hover {
    background-color: #F06542;
    border: #5d7cf0;
  }

  /* positioning */
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* footer stuff */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FAE0DC;
    

}
footer{
    display: block;
    text-align: center;
    background-color: #FAE0DC;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top:3px solid #F06542;
    width: 100%;
    color: #F06542;



}
.socials a{
    display: inline;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    color: #5d7cf0;
    font-size: xx-large;
    

}
.socials a:hover{
    color: #F06542;
}

