/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* main body header and footer are the same as main page */


body {
    background-color: #fae0dc;
    opacity: 1;
    background-image:  linear-gradient(135deg, #F06542 25%, transparent 25%), linear-gradient(225deg, #F06542 25%, transparent 25%), linear-gradient(45deg, #F06542 25%, transparent 25%), linear-gradient(315deg, #F06542 25%, #fae0dc 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 6px 6px;
    background-repeat: repeat;;

    width: 100%;

}

/* text styling */
h2{
    font-size: x-large;
    margin-bottom: 0px;
    padding-left: 10px;

}

h5, p{
    margin-top: 0px;
    color: #F06542;
    padding-left: 10px;
    padding-right: 10px;

}
@media(min-width:800px){
    h2{
        font-size: x-large;
        margin-bottom: 0px;
        padding-left: 30px;
    
    }
    
    h5, p{
        margin-top: 0px;
        color: #F06542;
        padding-left: 40px;
        padding-right: 40px;
    
    }
}

/* header info and styling */
header {
    /* colours*/
    background-color: #FAE0DC;
    font-family: 'Poppins', sans-serif;
    

    /* position and shaping */
    position: relative;
    border:10px solid #FAE0DC;
    border-radius: 40px;
}

.logo{
    width: 100%;

}
        @media (min-width:800px){
            /* header info and styling */
        header {
            /* colours*/
            background-color: #FAE0DC;
            font-family: 'Poppins', sans-serif;
            

            /* position and shaping */
            position: relative;
            border:10px solid #FAE0DC;
            border-radius: 40px;
            align-items: center;
        }

        .logo{
            width: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }}
    /* navigation links styling and positioning */

 .navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }
        .navbutton{
        background-color: #FAE0DC;
        padding: 10px;
        border:1px solid #5d7cf0;
        border-radius: 5px 20px 10px;
        flex-basis: auto;
        margin-left: 2%;
        margin-right: 2%;

        text-decoration: none;
        font-size: smaller;

        color: #5d7cf0;
        }
        .navbutton:hover{
        color: #FAE0DC;
        background-color: #5d7cf0;
        border: 5px solid #F06542;
        }
                @media(min-width:800px){
                    .navigation{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                    .navbutton{
                        background-color: #FAE0DC;
                        padding: 10px;
                        border:3px solid #5d7cf0;
                        border-radius: 5px 20px 10px;
                        flex-basis: auto;
                        margin-left: 2%;
                        margin-right: 2%;
                
                        text-decoration: none;
                        font-size: small;
                
                        color: #5d7cf0;
                        }

                    }


article{
    display: flex;
    width: 90%;
    flex-flow: column wrap;
    justify-content: space-evenly;
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #5d7cf0;
}
        .card{
            padding: 10px;
            border: 5px solid #F06542;
            border-radius: 40px;
            background-color: #FAE0DC;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 90%;
        }

            .images{
                display: flex;
                justify-content: center;
                    width: auto;
                    align-items: center;

                }   
                
            .images img {
            max-width: 100%;
            height: auto;
            width: 80%;

            padding: 10px;
                background-color: #FAE0DC;
                border: 3px solid #F06542;
                border-radius: 15px 50px 30px;
                margin: 20px;
            
            }

@media(min-width:800px){
    .images img {
        max-width: 100%;
        height: auto;
        width: 30%;
    }

    article{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items:center ;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        color: #5d7cf0;
        margin-left: auto; 
        margin-right: auto;
        }
}
            .Bloglinks{
                text-decoration: none;
                font-style: italic;
                color: #5d7cf0;
            }

            .Bloglinks:hover{
                color: #F06542;
            }
footer{
            display: block;
            text-align: center;
            background-color: #FAE0DC;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border-top:3px solid #F06542;
            width: 100%;
            color: #F06542;
            box-sizing: border-box;
            height: 100%;



        }
        .socials{
            padding: 0px;
        }
        .socials a{
            display: inline;
            position: relative;
            margin: 10px;
            color: #5d7cf0;
            font-size: xx-large;
            

        }
        .socials a:hover{
            color: #F06542;
}

