body {
    background-color: #FAE0DC;
}

header {
    /* colours*/
    background-color: #F06542;

    /* position and shaping */
    position: relative;
    top: 10px; left: 10%; right: 10%;
    width: 60%;
    height: 20%;

}
header h1 {

    /* text */
    display: flex ;
    justify-content: center;
}


.box {
    
    /* shaping and colors */
    border: 20px solid #F06542;
    padding: 30px;
    background-color: #5d7cf0;
    margin: 10px;
    border-radius: 10px;

    /*  */
    display: inline-block;
    
    text-align: center;

}
section {
    column-count: 2;
    column-width: 50%;
}

/* footer stuff */
.footer{
    background-color: #F06542;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #FAE0DC;
    text-align: left;
    height: 10%;
}

/* content and nav list */
.columns {
    display: flex;
    justify-content: space-between;

}

.columns >article, nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
/