body {
    background-color: #FAE0DC;
}

header {
    /* colours*/
    background-color: #F06542;

    /* position and shaping */
    position: relative;
    top: 10px; left: 10%; right: 10%;
    width: 60%;
    height: 20%;

}
header h1 {

    /* text */
    display: flex ;
    justify-content: center;
}


section {
    column-count: 2;
    column-width: 50%;
}
    /* blogposts is flex item */
    .BlogPost {
        
        /* shaping and colors */
        border: 20px solid #F06542;
        padding: 30px;
        background-color: #5d7cf0;
        margin: 15px;
        border-radius: 10px;

        height: 60px;
        width: 60px;
        

        /* flexbox items */
        display: flex;
        order: 4;
        flex-grow: 4;
        flex-basis: auto;
        align-items: center;


    }
    /* blogblocks is flex container */
    .BlogBlocks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

            
        }
    @media (min-width: 800px){
        .BlogBlocks {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .BlogPost {
            display: flex;
            height: 100px;
    
        }
    }

    




/* content and nav list, flex container */
.columns {
    display: flex;
    justify-content: space-evenly;
   

}
/* flex items */
.columns >article, nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}
/* positioning of nav links */
    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    
    nav{
        position: relative ;
        top: 200px;
    }
/* positioning of */
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

/* footer stuff */
.footer{
    background-color: #F06542;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #FAE0DC;
    text-align: left;
    height: 10%;
}
