/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





body {
    background-color: #fae0dc;
    opacity: 1;
    background-image:  linear-gradient(135deg, #F06542 25%, transparent 25%), linear-gradient(225deg, #F06542 25%, transparent 25%), linear-gradient(45deg, #F06542 25%, transparent 25%), linear-gradient(315deg, #F06542 25%, #fae0dc 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 6px 6px;
    background-repeat: repeat;;
}
header {
    /* colours*/
    background-color: #FAE0DC;
    font-family: 'Poppins', sans-serif;
    

    /* position and shaping */
    position: relative;
    border:10px solid #FAE0DC;
    border-radius: 40px;
;
    

}
.logo{
    width: 100%;

}
@media (min-width:800px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }
}
section {
    column-count: 2;
    column-width: 100%;
}
    /* blogposts is flex item */
    .BlogPost {
        
        /* shaping and colors */
        border: 15px solid #F06542;
        padding: 5px;
        background-color: #5d7cf0;
        margin: 5px;
        border-radius: 15px 50px;

        height: 150px;
        width: 150px;
        font-family: 'Poppins', sans-serif;
        

        /* flexbox items */
        display: flex;
        order: 4;
        flex-grow: 4;
        flex-basis: auto;
        align-items: center;


    }

    /* blogblocks is flex container */
    .BlogBlocks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        }

        .BlogPost{
            margin: 10px;
            transition: opacity 0.3s ease;

        }
        
        .BlogPost:hover{
            opacity: 0.5;
        }

        /* change into row view */
    @media (min-width: 800px){
        section{
            columns: 1;
        }

        .BlogBlocks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-inline-end: 30px;
            padding-inline-start: 30px;
            padding-bottom: 20px;

        
        }
        .BlogPost {
            display: flex;
            justify-content: space-evenly;
            height: 200px;
            width: 200px;

            
    
        }
        
    }

    img{
        display: block;

    }




/* content and nav list, flex container */
.columns {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}
/* flex items */
.columns >article, nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}
/* positioning of nav links */
    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-style: italic; 
        font-size: large;
        line-height: 15px;
        padding-bottom: 20px;
        align-items: center;
        
    }
    
    nav{
        position: relative ;
        top: 15px;
        
    }
/* positioning of codeword content*/
    article{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 5px;

        height: 150px;
    }
@media(min-width:800px){
    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }


}

/* small word info styling */
    .codewords{
        background-color: #F06542;
        border: 15px solid #FAE0DC;
        border-radius: 10px 40px 20px;
        color: #FAE0DC;

    }

    @media(min-width:800px){
        .codewords{
            margin-left: 50px;

        }
    }


/* links styling*/
.link{
    background-color: #FAE0DC;
    padding: 10px;
    border: 5px solid #5d7cf0;
    border-radius: 5px 20px 10px;
    flex-basis: auto;

    text-decoration: none;

    color: #5d7cf0;
}
.link:hover{
    color: #FAE0DC;
    background-color: #5d7cf0;
    border: 5px solid #F06542;
}

@media (min-width:800px){
    .link{
        padding: 25px;
        border-radius: 5px 30px 15px;
    }
}


/* footer stuff */
footer{
    display: block;
    text-align: center;
    background-color: #FAE0DC;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top:3px solid #F06542;
    width: 100%;
    color: #F06542;



}

.socials a{
    display: inline;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    color: #5d7cf0;
    font-size: x-large;

}
.socials a:hover{
    color: #F06542;
}
